<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<table class="table">

  <tr>
    <th>Travel ID</th>
    <th>Activity Name</th>
    <th>Min. Participants</th>
    <th>Max. Participants</th>
    <th>Are kids allowed?</th>
    <th>Hotel</th>
    <th>Book this one!</th>
  </tr>
  <tr ng-repeat="travel in travels">
    <td>{{travel.id}}</td>
    <td>{{travel.activity}}</td>
    <td>{{travel.minParticipants}}</td>
    <td>{{travel.maxParticipants}}</td>
    <td>{{travel.kidsAllowed}}</td>
    <td>{{travel.hotel.name}}</td>
    <td><a ui-sref="travels({id: travel.id})" href="/#/travels/{{travel.id}}"  ng-click="completeTravel(travel.id)">view more...</a></td>
  </tr>
</table>

</body>
</html>
